@page "/firefighters"

@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IStaffService StaffService
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

@using FireSync.Components.Shared
@using FireSync.DTOs
@using FireSync.Enums
@using FireSync.Services.Interfaces

<PageTitle>Vatrogasci</PageTitle>

<AuthorizeView Roles="@(nameof(Roles.Admin))">
    <Authorized>
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12" Class="mx-auto">
                <MudPaper Elevation="0" Padding="0" Class="mb-4">
                    <MudGrid>
                        <MudItem xs="12" sm="6" md="6" lg="6" xl="6" Class="d-flex align-center gap-15">
                            <MudText Typo="Typo.h5">Pregled vatrogasaca @((paginationMetadata?.TotalItemCount ?? 0) > 0 ? $"({paginationMetadata?.TotalItemCount ?? 0})" : "")</MudText>
                            @if (selectedFirefighters.Count > 0)
                            {
                                <MudPaper Elevation="2" Class="py-1 px-2">
                                    <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Inherit" OnClick="@(() => DeleteFirefighter(selectedFirefighters.First()))" />
                                </MudPaper>
                            }
                        </MudItem>
                    </MudGrid>
                </MudPaper>
                @if (firefighters == null || !firefighters.Any())
                {
                    <MudAlert Severity="Severity.Info" Elevation="0" Icon="@Icons.Material.Filled.Info">
                        Nema vatrogasaca za prikaz.
                    </MudAlert>
                }
                else
                {
                <MudDataGrid T="UserOutputDto" Items="firefighters" Filterable="false" SortMode="@SortMode.Single" Groupable="false" MultiSelection="false" FooterClass="d-none"
                             @bind-SelectedItems="selectedFirefighters" Hover="true" RowClick="@RowClicked" RowClass="cursor-pointer">
                    <Columns>
                        <SelectColumn T="UserOutputDto" />
                        <PropertyColumn Property="x => x.FirstName" Title="Ime" />
                        <PropertyColumn Property="x => x.LastName" Title="Prezime" />
                        <PropertyColumn Property="x => x.Email" Title="Email" />
                        <TemplateColumn Title="Uloge">
                            <CellTemplate Context="firefighter">
                                @foreach (var role in firefighter.Item.Roles)
                                {
                                    <MudChip Color="Color.Primary" Text="@role.Trim()" />
                                }
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>

                <div class="d-flex justify-center my-4">
                    <MudPagination Count="pagesCount" @bind-Selected="currentPage" />
                </div>
                }
            </MudItem>
        </MudGrid>
    </Authorized>
    <NotAuthorized>
        <UnauthorizedAlert/>
    </NotAuthorized>
</AuthorizeView>

<MudElement Class="fab-wrapper">
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="OpenAddNewFirefighterDialog" Size="Size.Medium" />
</MudElement>

@code {
    private List<UserOutputDto> firefighters = new List<UserOutputDto>();
    private HashSet<UserOutputDto> selectedFirefighters = new HashSet<UserOutputDto>();

    private PaginationMetadata paginationMetadata;
    private int pagesCount => paginationMetadata?.TotalPageCount ?? 0;
    private int _currentPage = 1;

    private int currentPage
    {
        get => _currentPage;
        set
        {
            if (_currentPage != value)
            {
                _currentPage = value;
                _ = LoadFirefighters();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadFirefighters();
    }

    void RowClicked(DataGridRowClickEventArgs<UserOutputDto> args)
    {
        GoToFirefighterDetailsPage(args.Item.Id);
    }

    private void GoToFirefighterDetailsPage(Guid firefighterId)
    {
        NavigationManager.NavigateTo($"/firefighters/{firefighterId}");
    }

    private async Task LoadFirefighters()
    {
        var result = await StaffService.GetPagedFirefightersAsync(currentPage);
        firefighters = result.Item1.ToList();
        paginationMetadata = result.Item2;
        StateHasChanged();
    }

    private async void OpenAddNewFirefighterDialog()
    {
        var result = await DialogService.Show<AddNewStaffMemberDialog>("Dodaj novog vatrogasca", new DialogOptions { MaxWidth = MaxWidth.Large }).Result;
        if (result.Canceled == false)
        {
            await LoadFirefighters();
        }
    }

    private async void DeleteFirefighter(UserOutputDto firefighter)
    {
    }
}
